<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cronocode.moviecatalog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.MovieCatalog"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.movie_search_activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.Genres"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.registration"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.login"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.genres.genre_list_horror"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.genres.genre_list_adventure"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.genres.genre_list_animation"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.genres.genre_list_comedy"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.genres.genre_list_crime"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.genres.genre_list_documentary"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.genres.genre_list_drama"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.Detail"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".activities.Profile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.movie_list_now_playing"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.movie_list_popular"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MovieCatalog.NoActionBar" />
        <activity
            android:name=".activities.movie_list_top_rated"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MovieCatalog.NoActionBar" />
        <activity
            android:name=".activities.movie_list_upcoming"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.MovieCatalog.NoActionBar" />
        <activity
            android:name=".activities.Authorization"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.MovieCatalog.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>